<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

<!-- Название у нас будет articles -->
{% block content %}
   <h1>Все новости!!!</h1>
{% if products %}
   <table>
       {% for post in posts %}
       <tr>
           <td>{{ post.title|censor }}</td>
           <td>{{ post.pub_date|date:"d.m.Y" }}</td>
           <td>{{ post.text|truncatewords:20|censor }}</td>
       </tr>
   </table>
       <h2>Новостей нет!</h2>
   {% endfor %}
{% endif %}
{% endblock content %}
